@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(51,15,0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255,255,255,1) 100%);
  color: white;
  font-family: Arial, sans-serif;
}
